*.o
*.dd
*.so
Libraries/Makefile
Linux/Makefile
Makefile
Plug-ins/ASpell/Makefile
Plug-ins/CRAM-MD5/Makefile
Plug-ins/CommunicatorAdbkIO/Makefile
Plug-ins/DIGEST-MD5/Makefile
Plug-ins/Eudora4AdbkIO/Makefile
Plug-ins/EudoraAdbkIO/Makefile
Plug-ins/GPG/Makefile
Plug-ins/GSSAPI/Makefile
Plug-ins/ISpell/Makefile
Plug-ins/Kerberos/Makefile
Plug-ins/NetscapeAdbkIO/Makefile
Plug-ins/PineAdbkIO/Makefile
Plug-ins/PluginLibrary/Makefile
Plug-ins/QuickmailAdbkIO/Makefile
Plug-ins/SMIME/Makefile
Plug-ins/SSL/Makefile
Plug-ins/vCardAdbkIO/Makefile
Sources_Common/Makefile
Plug-ins/PluginLibrary/PluginLib.a
autom4te.cache
config.log
config.status
configure
Linux/mulberry
build-stamp
configure-stamp
debian/files
debian/mulberry.debhelper.log
debian/mulberry.substvars
debian/mulberry/
patch-stamp

