IDI_MAILBOXPROP_OPTIONS	ICON	DISCARDABLE		./RESLXP/mailbox_options.ico
IDI_MAILBOXPROP_GENERAL	ICON	DISCARDABLE		./RESLXP/mailbox_general.ico
IDI_MAILBOXPROP_SERVER	ICON	DISCARDABLE		./RESLXP/mailbox_server.ico
IDI_MAILBOXPROP_ACL		ICON	DISCARDABLE		./RESLXP/mailbox_acl.ico
IDI_MAILBOXPROP_QUOTA	ICON	DISCARDABLE		./RESLXP/mailbox_quota.ico
IDI_PREFS_ACCOUNTS	ICON	DISCARDABLE		./RESLXP/prefs_accounts.ico
IDI_PREFS_ALERTS	ICON	DISCARDABLE		./RESLXP/prefs_alerts.ico
IDI_PREFS_DISPLAY	ICON	DISCARDABLE		./RESLXP/prefs_display.ico
IDI_PREFS_FONTS		ICON	DISCARDABLE		./RESLXP/prefs_fonts.ico
IDI_PREFS_MAILBOX	ICON	DISCARDABLE		./RESLXP/prefs_mailbox.ico
IDI_PREFS_MESSAGE	ICON	DISCARDABLE		./RESLXP/prefs_message.ico
IDI_PREFS_OUTGOING	ICON	DISCARDABLE		./RESLXP/prefs_outgoing.ico
IDI_PREFS_SECURITY	ICON	DISCARDABLE		./RESLXP/prefs_security.ico
IDI_PREFS_IDENTITY	ICON	DISCARDABLE		./RESLXP/prefs_identities.ico
IDI_PREFS_ADDRESSES	ICON	DISCARDABLE		./RESLXP/prefs_addresses.ico
IDI_PREFS_CALENDAR	ICON	DISCARDABLE		./RESLXP/prefs_calendar.ico
IDI_PREFS_ATTACHMENT	ICON	DISCARDABLE		./RESLXP/prefs_attachment.ico
IDI_PREFS_SPELLING	ICON	DISCARDABLE		./RESLXP/prefs_spelling.ico

IDI_EXTERNALEDIT  		        ICON    DISCARDABLE     ./RESLXP/ExternalEdit.ico

IDI_MENU_TICKMARK				ICON    DISCARDABLE     ./RESLXP/MenuTickMark.ico
IDI_MENU_BLOBMARK				ICON    DISCARDABLE     ./RESLXP/MenuBlobMark.ico
IDI_MENU_SUBMENU				ICON    DISCARDABLE     ./RESLXP/MenuSubMenu.ico
IDI_MENU_SCROLLUP				ICON    DISCARDABLE     ./RESLXP/MenuScrollUp.ico
IDI_MENU_SCROLLDOWN				ICON    DISCARDABLE     ./RESLXP/MenuScrollDown.ico

IDI_SCROLLBAR_UP				ICON    DISCARDABLE     ./RESLXP/ScrollbarUp.ico
IDI_SCROLLBAR_DOWN				ICON    DISCARDABLE     ./RESLXP/ScrollbarDown.ico
IDI_SCROLLBAR_LEFT				ICON    DISCARDABLE     ./RESLXP/ScrollbarLeft.ico
IDI_SCROLLBAR_RIGHT				ICON    DISCARDABLE     ./RESLXP/ScrollbarRight.ico

IDI_SPIN_UP						ICON    DISCARDABLE     ./RESLXP/SpinUp.ico
IDI_SPIN_DOWN					ICON    DISCARDABLE     ./RESLXP/SpinDown.ico
