IDR_MAINFRAME           		ICON    DISCARDABLE     ./RESXP/MulberryXP.ico
IDR_SERVERDOCSDI      			ICON    DISCARDABLE     ./RESXP/ServerDoc.ico
IDR_MAILBOXDOCSDI      			ICON    DISCARDABLE     ./RESXP/MailboxDoc.ico
IDR_DUMMYDOCSDI         		ICON    DISCARDABLE     ./RESXP/MailboxDoc.ico
IDR_MESSAGEDOCSDI      			ICON    DISCARDABLE     ./RESXP/MessageDoc.ico
IDR_LETTERDOCSDI       			ICON    DISCARDABLE     ./RESXP/LetterDoc.ico
IDR_ADDRESSBOOKMANAGERDOCSDI	ICON    DISCARDABLE     ./RESXP/AddressBookDoc.ico
IDR_ADDRESSSEARCHDOCSDI			ICON    DISCARDABLE     ./RESXP/AddressSearchDoc.ico
IDR_ADDRESSBOOKDOCSDI  		 	ICON    DISCARDABLE     ./RESXP/AddressBookDoc.ico
IDR_CALENDARSTOREDOCSDI			ICON    DISCARDABLE     ./RESXP/CalendarStoreDoc.ico
IDR_CALENDARDOCSDI  		 	ICON    DISCARDABLE     ./RESXP/CalendarDoc.ico
IDR_SEARCHDOCSDI        		ICON    DISCARDABLE     ./RESXP/SearchDoc.ico
IDR_RULESDOCSDI         		ICON    DISCARDABLE     ./RESXP/SearchDoc.ico
IDR_PREFSDOC         			ICON    DISCARDABLE     ./RESXP/PrefsDoc.ico
IDR_MBXDOC           			ICON    DISCARDABLE     ./RESXP/MailboxDoc.ico
IDR_MBCDOC           			ICON    DISCARDABLE     ./RESXP/MailboxDoc.ico
IDR_MBIDOC            			ICON    DISCARDABLE     ./RESXP/MailboxDoc.ico
IDR_MBRDOC            			ICON    DISCARDABLE     ./RESXP/MailboxDoc.ico
IDI_3PANE_ZOOM					ICON    DISCARDABLE     ./RESXP/3PaneZoom.ico
IDI_3PANE_CLOSE					ICON    DISCARDABLE     ./RESXP/3PaneClose.ico
IDI_3PANEPREVIEWMAILBOX			ICON    DISCARDABLE     ./RESXP/PreviewMailbox.ico
IDI_3PANEPREVIEWADDRESSBOOK		ICON    DISCARDABLE     ./RESXP/PreviewAddressBook.ico
IDI_3PANEPREVIEWMESSAGE			ICON    DISCARDABLE     ./RESXP/PreviewMessage.ico
IDI_3PANEPREVIEWADDRESS			ICON    DISCARDABLE     ./RESXP/PreviewAddress.ico
IDI_3PANEPREVIEWGROUP			ICON    DISCARDABLE     ./RESXP/PreviewGroup.ico
IDI_3PANELAYOUTLISTVERT			ICON    DISCARDABLE     ./RESXP/LayoutListVert.ico
IDI_3PANELAYOUTLISTHORIZ		ICON    DISCARDABLE     ./RESXP/LayoutListHoriz.ico
IDI_3PANELAYOUTITEMSVERT		ICON    DISCARDABLE     ./RESXP/LayoutItemsVert.ico
IDI_3PANELAYOUTITEMSHORIZ		ICON    DISCARDABLE     ./RESXP/LayoutItemsHoriz.ico
IDI_3PANELAYOUTPREVIEWVERT		ICON    DISCARDABLE     ./RESXP/LayoutPreviewVert.ico
IDI_3PANELAYOUTPREVIEWHORIZ		ICON    DISCARDABLE     ./RESXP/LayoutPreviewHoriz.ico
IDI_3PANELAYOUTALLVERT			ICON    DISCARDABLE     ./RESXP/LayoutAllVert.ico
IDI_3PANELAYOUTALLHORIZ			ICON    DISCARDABLE     ./RESXP/LayoutAllHoriz.ico
IDI_LOGIN               		ICON    DISCARDABLE     ./RESXP/Login.ico
IDI_LOGOUT						ICON    DISCARDABLE     ./RESXP/Logout.ico
IDI_SERVERPROP					ICON    DISCARDABLE     ./RESXP/ServerProp.ico
IDI_SERVERDIR					ICON    DISCARDABLE     ./RESXP/ServerDir.ico
IDI_SERVERDIREF					ICON    DISCARDABLE     ./RESXP/ServerDirRef.ico
IDI_SERVERDIRSUBS				ICON    DISCARDABLE     ./RESXP/ServerDirSubs.ico
IDI_SERVERMAILBOX   			ICON    DISCARDABLE     ./RESXP/ServerMailbox.ico
IDI_SERVERMAILBOXREF			ICON    DISCARDABLE     ./RESXP/ServerMailboxRef.ico
IDI_SERVERMAILBOXNO				ICON    DISCARDABLE     ./RESXP/ServerMailboxNo.ico
IDI_SERVERMAILBOXREFNO			ICON    DISCARDABLE     ./RESXP/ServerMailboxRefNo.ico
IDI_SERVERMAILBOXUNMARKED		ICON    DISCARDABLE     ./RESXP/ServerMailboxUnmarked.ico
IDI_SERVERMAILBOXREFUNMARKED	ICON    DISCARDABLE     ./RESXP/ServerMailboxRefUnmarked.ico
IDI_SERVERMAILBOXMARKED			ICON    DISCARDABLE     ./RESXP/ServerMailboxMarked.ico
IDI_SERVERMAILBOXREFMARKED		ICON    DISCARDABLE     ./RESXP/ServerMailboxRefMarked.ico
IDI_SERVERMAILBOXCACHED			ICON    DISCARDABLE     ./RESXP/ServerMailboxCached.ico
IDI_SERVERMAILBOXUNCACHED		ICON    DISCARDABLE     ./RESXP/ServerMailboxUncached.ico
IDI_SERVER_MAILBOX_OPEN			ICON    DISCARDABLE     ./RESXP/ServerMailboxOpen.ico
IDI_SERVER_MAILBOX_CLOSENEW		ICON    DISCARDABLE     ./RESXP/ServerMailboxCloseNew.ico
IDI_SERVER_MAILBOX_CLOSECHECK	ICON    DISCARDABLE     ./RESXP/ServerMailboxCloseCheck.ico
IDI_SERVER_CALCULATE_SIZE		ICON    DISCARDABLE     ./RESXP/ServerCalculateSize.ico
IDI_SERVER_TITLE_FLAGS  ICON    DISCARDABLE     ./RESXP/ServerTitleFlags.ico
IDI_SERVER_TITLE_TOTAL  ICON    DISCARDABLE     ./RESXP/ServerTitleTotal.ico
IDI_SERVER_TITLE_NEW    ICON    DISCARDABLE     ./RESXP/ServerTitleNew.ico
IDI_SERVER_TITLE_UNSEEN ICON    DISCARDABLE     ./RESXP/ServerTitleUnseen.ico
IDI_SERVER_TITLE_AUTOCHECK ICON    DISCARDABLE     ./RESXP/ServerTitleAutoCheck.ico
IDI_ACL_LOOKUP          ICON    DISCARDABLE     ./RESXP/ACLLookup.ico
IDI_ACL_READ            ICON    DISCARDABLE     ./RESXP/ACLRead.ico
IDI_ACL_SEEN            ICON    DISCARDABLE     ./RESXP/ACLSeen.ico
IDI_ACL_WRITE           ICON    DISCARDABLE     ./RESXP/ACLWrite.ico
IDI_ACL_INSERT          ICON    DISCARDABLE     ./RESXP/ACLInsert.ico
IDI_ACL_POST            ICON    DISCARDABLE     ./RESXP/ACLPost.ico
IDI_ACL_CREATE          ICON    DISCARDABLE     ./RESXP/ACLCreate.ico
IDI_ACL_DELETE          ICON    DISCARDABLE     ./RESXP/ACLDelete.ico
IDI_ACL_ADMIN           ICON    DISCARDABLE     ./RESXP/ACLAdmin.ico
IDI_ACL_SET             ICON    DISCARDABLE     ./RESXP/ACLSet.ico
IDI_ACL_UNSET           ICON    DISCARDABLE     ./RESXP/ACLUnset.ico
IDI_MAILBOX_REMOTE      ICON    DISCARDABLE     ./RESXP/MailboxRemote.ico
IDI_MAILBOX_REMOTESSL   ICON    DISCARDABLE     ./RESXP/MailboxRemoteSSL.ico
IDI_MAILBOX_LOCAL       ICON    DISCARDABLE     ./RESXP/MailboxLocal.ico
IDI_MAILBOX_POP3        ICON    DISCARDABLE     ./RESXP/MailboxPOP3.ico
IDI_MAILBOX_DISCONNECTED ICON    DISCARDABLE     ./RESXP/MailboxDisconnected.ico
IDI_MAILBOXDELETE       ICON    DISCARDABLE     ./RESXP/MailboxDelete.ico
IDI_MAILBOXEXPUNGE      ICON    DISCARDABLE     ./RESXP/MailboxExpunge.ico
IDI_MAILBOXNEWMSG		ICON    DISCARDABLE     ./RESXP/NewMessage.ico
IDI_MAILBOXREPLY		ICON    DISCARDABLE     ./RESXP/MessageReply.ico
IDI_MAILBOXREPLYALL		ICON    DISCARDABLE     ./RESXP/MessageReplyAll.ico
IDI_MAILBOXFORWARD		ICON    DISCARDABLE     ./RESXP/MessageForward.ico
IDI_MAILBOXBOUNCE		ICON    DISCARDABLE     ./RESXP/MessageBounce.ico
IDI_MAILBOXREJECT		ICON    DISCARDABLE     ./RESXP/MessageReject.ico
IDI_MAILBOXSENDAGAIN	ICON    DISCARDABLE     ./RESXP/MessageSendAgain.ico
IDI_MAILBOXDIGEST		ICON    DISCARDABLE     ./RESXP/MessageDigest.ico
IDI_MAILBOXCOPY			ICON    DISCARDABLE     ./RESXP/MessageCopy.ico
IDI_MAILBOXMATCH		ICON    DISCARDABLE     ./RESXP/MailboxMatchBtn.ico
IDI_MAILBOXSELECTFLAG	ICON    DISCARDABLE     ./RESXP/SelectByFlag.ico
IDI_MAILBOXSEARCH		ICON    DISCARDABLE     ./RESXP/MailboxSearch.ico
IDI_SORTASCENDING       ICON    DISCARDABLE     ./RESXP/SortAscending.ico
IDI_SORTDESCENDING      ICON    DISCARDABLE     ./RESXP/SortDescending.ico
IDI_MAILBOXREADONLY     ICON    DISCARDABLE     ./RESXP/ReadOnly.ico
IDI_MAILBOXREADWRITE    ICON    DISCARDABLE     ./RESXP/ReadWrite.ico
IDI_QUICKSEARCHCANCEL	ICON	DISCARDABLE		./RESXP/QuickSearchCancel.ico
IDI_FLAG_DELETED        ICON    DISCARDABLE     ./RESXP/FlagDeleted.ico
IDI_FLAG_ANSWERED       ICON    DISCARDABLE     ./RESXP/FlagAnswered.ico
IDI_FLAG_RECENT         ICON    DISCARDABLE     ./RESXP/FlagRecent.ico
IDI_FLAG_UNSEEN         ICON    DISCARDABLE     ./RESXP/FlagUnseen.ico
IDI_FLAG_READ           ICON    DISCARDABLE     ./RESXP/FlagRead.ico
IDI_FLAG_DRAFT          ICON    DISCARDABLE     ./RESXP/FlagDraft.ico
IDI_FLAG_ATTACHMENT     ICON    DISCARDABLE     ./RESXP/FlagAttachment.ico
IDI_FLAG_CALENDAR       ICON    DISCARDABLE     ./RESXP/FlagCalendar.ico
IDI_FLAG_ALTERNATIVE    ICON    DISCARDABLE     ./RESXP/FlagAlternative.ico
IDI_FLAG_SIGNED		    ICON    DISCARDABLE     ./RESXP/FlagSigned.ico
IDI_FLAG_ENCRYPTED	    ICON    DISCARDABLE     ./RESXP/FlagEncrypted.ico
IDI_FLAG_MATCH          ICON    DISCARDABLE     ./RESXP/FlagMatch.ico
IDI_FLAG_CACHED         ICON    DISCARDABLE     ./RESXP/FlagCached.ico
IDI_FLAG_PARTIAL        ICON    DISCARDABLE     ./RESXP/FlagPartial.ico
IDI_FLAG_PAUSED         ICON    DISCARDABLE     ./RESXP/FlagPaused.ico
IDI_FLAG_SENDING        ICON    DISCARDABLE     ./RESXP/FlagSending.ico
IDI_FLAG_SENDERROR      ICON    DISCARDABLE     ./RESXP/FlagSendError.ico
IDI_FLAG_SIGNED_ATTACHMENT		    	ICON    DISCARDABLE     ./RESXP/FlagSignedAttachment.ico
IDI_FLAG_SIGNED_CALENDAR		    	ICON    DISCARDABLE     ./RESXP/FlagSignedCalendar.ico
IDI_FLAG_SIGNED_ALTERNATIVE		    	ICON    DISCARDABLE     ./RESXP/FlagSignedAlternative.ico
IDI_FLAG_SIGNED_ALTERNATIVE_ATTACHMENT	ICON    DISCARDABLE     ./RESXP/FlagSignedAltAttachment.ico
IDI_FLAG_SIGNED_ALTERNATIVE_CALENDAR	ICON    DISCARDABLE     ./RESXP/FlagSignedAltCalendar.ico
IDI_FLAG_ALTERNATIVE_ATTACHMENT			ICON    DISCARDABLE     ./RESXP/FlagAltAttachment.ico
IDI_FLAG_ALTERNATIVE_CALENDAR			ICON    DISCARDABLE     ./RESXP/FlagAltCalendar.ico
IDI_TITLE_FLAG_TITLE          ICON    DISCARDABLE     ./RESXP/FlagTitle.ico
IDI_TITLE_FLAG_ATTACHMENTS    ICON    DISCARDABLE     ./RESXP/FlagAttachment.ico
IDI_TITLE_FLAG_MATCH          ICON    DISCARDABLE     ./RESXP/FlagMatch.ico
IDI_TITLE_FLAG_DISCONNECTED   ICON    DISCARDABLE     ./RESXP/FlagCached.ico
IDI_FLAG_SMART_FROM     ICON    DISCARDABLE     ./RESXP/FlagSmartTo.ico
IDI_FLAG_SMART_TO       ICON    DISCARDABLE     ./RESXP/FlagSmartFrom.ico
IDI_FLAG_SMART_CC       ICON    DISCARDABLE     ./RESXP/FlagSmartCC.ico
IDI_FLAG_SMART_BCC      ICON    DISCARDABLE     ./RESXP/FlagSmartFromList.ico
IDI_SMTPHOLD            ICON    DISCARDABLE     ./RESXP/SMTPHold.ico
IDI_SMTPPRIORITY        ICON    DISCARDABLE     ./RESXP/SMTPPriority.ico
IDI_SMTPENABLE          ICON    DISCARDABLE     ./RESXP/SMTPEnable.ico
IDI_TAB_UNSEEN          ICON    DISCARDABLE     ./RESXP/TabUnseen.ico
IDI_MOVEUP              ICON    DISCARDABLE     ./RESXP/MoveUp.ico
IDI_MOVEDOWN            ICON    DISCARDABLE     ./RESXP/MoveDown.ico
IDI_RULESICON           ICON    DISCARDABLE     ./RESXP/Rules.ico
IDI_TARGETSICON         ICON    DISCARDABLE     ./RESXP/Targets.ico
IDI_SCRIPTSICON         ICON    DISCARDABLE     ./RESXP/Scripts.ico
IDI_RULES_NEW_BTN       ICON    DISCARDABLE     ./RESXP/RulesNewBtn.ico
IDI_RULES_NEW_TARGET_BTN ICON   DISCARDABLE     ./RESXP/RulesNewTargetBtn.ico
IDI_RULES_NEW_SCRIPTS_BTN ICON  DISCARDABLE     ./RESXP/RulesNewScriptBtn.ico
IDI_RULES_EDIT_BTN      ICON    DISCARDABLE     ./RESXP/RulesEditBtn.ico
IDI_RULES_DELETE_BTN    ICON    DISCARDABLE     ./RESXP/RulesDeleteBtn.ico
IDI_RULES_GENERATE_BTN  ICON    DISCARDABLE     ./RESXP/RulesGenerateBtn.ico
IDI_PREVMSG             ICON    DISCARDABLE     ./RESXP/PrevMsg.ico
IDI_NEXTMSG             ICON    DISCARDABLE     ./RESXP/NextMsg.ico
IDI_LASTNEXTMSG         ICON    DISCARDABLE     ./RESXP/LastNextMsg.ico
IDI_DELETENEXT          ICON    DISCARDABLE     ./RESXP/DeleteNext.ico
IDI_COPYNEXT            ICON    DISCARDABLE     ./RESXP/CopyNext.ico
IDI_REPLYMSG            ICON    DISCARDABLE     ./RESXP/MessageReply.ico
IDI_HEADERMSG           ICON    DISCARDABLE     ./RESXP/MessageHeader.ico
IDI_FORWARDMSG          ICON    DISCARDABLE     ./RESXP/MessageForward.ico
IDI_PRINT               ICON    DISCARDABLE     ./RESXP/Print.ico
IDI_MSG_ATTACHMENT      ICON    DISCARDABLE     ./RESXP/MessageAttachment.ico
IDI_MSG_ALTERNATIVE     ICON    DISCARDABLE     ./RESXP/MessageAlternative.ico
IDI_FONTINCREASE     	ICON    DISCARDABLE     ./RESXP/FontIncrease.ico
IDI_FONTDECREASE     	ICON    DISCARDABLE     ./RESXP/FontDecrease.ico
IDI_TWISTDOWN           ICON    DISCARDABLE     ./RESXP/TwistDown.ico
IDI_TWISTDOWNPUSHED     ICON    DISCARDABLE     ./RESXP/TwistDownPushed.ico
IDI_TWISTUP             ICON    DISCARDABLE     ./RESXP/TwistUp.ico
IDI_TWISTUPPUSHED       ICON    DISCARDABLE     ./RESXP/TwistUpPushed.ico
IDI_TOOLBAR32UP         ICON    DISCARDABLE     ./RESXP/Toolbar32Up.ico
IDI_TOOLBAR32DOWN       ICON    DISCARDABLE     ./RESXP/Toolbar32Down.ico
IDI_TOOLBAR24DOWN       ICON    DISCARDABLE     ./RESXP/Toolbar24Down.ico
IDI_TOOLBAR_DIVIDER     ICON    DISCARDABLE     ./RESXP/ToolbarDivider.ico
IDI_TOOLBAR_SPACE       ICON    DISCARDABLE     ./RESXP/ToolbarSpace.ico
IDI_TOOLBAR_EXPAND      ICON    DISCARDABLE     ./RESXP/ToolbarExpand.ico
IDI_SHOWLIST            ICON    DISCARDABLE     ./RESXP/ShowList.ico
IDI_SHOWITEM            ICON    DISCARDABLE     ./RESXP/ShowItems.ico
IDI_SHOWPREVIEW         ICON    DISCARDABLE     ./RESXP/ShowPreview.ico
IDI_SAVEFILE            ICON    DISCARDABLE     ./RESXP/Save.ico
IDI_ATTACHFILE          ICON    DISCARDABLE     ./RESXP/Attach.ico
IDI_SPELLING            ICON    DISCARDABLE     ./RESXP/Spelling.ico
IDI_RECEIPT             ICON    DISCARDABLE     ./RESXP/Receipt.ico
IDI_INSERTSIGNATURE     ICON    DISCARDABLE     ./RESXP/InsertSignature.ico
IDI_ADD_CC     			ICON    DISCARDABLE     ./RESXP/AddCc.ico
IDI_ADD_BCC			    ICON    DISCARDABLE     ./RESXP/AddBcc.ico
IDI_SENDLETTER          ICON    DISCARDABLE     ./RESXP/Send.ico
IDI_APPEND_NOW          ICON    DISCARDABLE     ./RESXP/AppendNow.ico
IDI_COPY_ORIGINAL		ICON    DISCARDABLE     ./RESXP/CopyOriginal.ico
IDI_SIGN		        ICON    DISCARDABLE     ./RESXP/Sign.ico
IDI_ENCRYPT             ICON    DISCARDABLE     ./RESXP/Encrypt.ico
IDI_XHEADERLINES        ICON    DISCARDABLE     ./RESXP/XHeaderLines.ico
IDI_SIGNATURE           ICON    DISCARDABLE     ./RESXP/Signature.ico
IDI_EXPLICITMAPPING     ICON    DISCARDABLE     ./RESXP/ExplicitMapping.ico
IDI_DIAMOND             ICON    DISCARDABLE     ./RESXP/Diamond.ico
IDI_DIAMONDTICKED       ICON    DISCARDABLE     ./RESXP/DiamondTicked.ico
IDI_DIAMONDHIGHLIGHT    ICON    DISCARDABLE     ./RESXP/DiamondHighlight.ico
IDI_DIAMONDDISABLE      ICON    DISCARDABLE     ./RESXP/DiamondDisable.ico
IDI_SQUARE              ICON    DISCARDABLE     ./RESXP/Square.ico
IDI_SQUAREHIGHLIGHT     ICON    DISCARDABLE     ./RESXP/SquareHighlight.ico
IDI_TICKMARK            ICON    DISCARDABLE     ./RESXP/TickMark.ico
IDI_MISSINGPART         ICON    DISCARDABLE     ./RESXP/MissingPart.ico
IDI_APPLEFILEPART       ICON    DISCARDABLE     ./RESXP/AppleFile.ico
IDI_MULTIPART           ICON    DISCARDABLE     ./RESXP/Multipart.ico
IDI_MESSAGEPART         ICON    DISCARDABLE     ./RESXP/MessagePart.ico
IDI_CALENDARPART        ICON    DISCARDABLE     ./RESXP/FlagCalendar.ico
IDI_UNKNOWNFILE         ICON    DISCARDABLE     ./RESXP/UnknownFile.ico
IDI_POPUPBTN            ICON    DISCARDABLE     ./RESXP/PopupBtn.ico
IDI_ADBK_NEW_BTN        ICON    DISCARDABLE     ./RESXP/AdbkNew.ico
IDI_ADBK_OPEN_BTN       ICON    DISCARDABLE     ./RESXP/AdbkOpen.ico
IDI_ADBK_DELETE_BTN     ICON    DISCARDABLE     ./RESXP/AdbkDelete.ico
IDI_ADBK_TITLE_OPEN     ICON    DISCARDABLE     ./RESXP/AdbkTitleOpen.ico
IDI_ADBK_TITLE_RESOLVE  ICON    DISCARDABLE     ./RESXP/AdbkTitleResolve.ico
IDI_ADBK_TITLE_SEARCH   ICON    DISCARDABLE     ./RESXP/AdbkTitleSearch.ico
IDI_ADDRESSFILE         ICON    DISCARDABLE     ./RESXP/AddressFile.ico
IDI_ADDRESSFILECACHED   ICON    DISCARDABLE     ./RESXP/AddressFileCached.ico
IDI_ADDRESSFILEUNCACHED ICON    DISCARDABLE     ./RESXP/AddressFileUncached.ico
IDI_ADDRESS_NEWMSG      ICON    DISCARDABLE     ./RESXP/NewMessage.ico
IDI_ADDRESS_NEW_SINGLE  ICON    DISCARDABLE     ./RESXP/ShowSingle.ico
IDI_ADDRESS_NEW_GROUP   ICON    DISCARDABLE     ./RESXP/ShowGroup.ico
IDI_ADDRESS_EDIT        ICON    DISCARDABLE     ./RESXP/NewAddress.ico
IDI_ADDRESS_DELETE      ICON    DISCARDABLE     ./RESXP/DeleteAddress.ico
IDI_ADDRESS_FLAG        ICON    DISCARDABLE     ./RESXP/AddressFlag.ico
IDI_GROUP_FLAG          ICON    DISCARDABLE     ./RESXP/GroupFlag.ico
IDI_ADDRESS_SEARCH      ICON    DISCARDABLE     ./RESXP/SearchAddress.ico
IDI_ADDRESS_RESULT      ICON    DISCARDABLE     ./RESXP/AddressSearchResult.ico
IDI_BOLDBTN             ICON    DISCARDABLE     ./RESXP/BoldBtn.ico
IDI_ITALICBTN           ICON    DISCARDABLE     ./RESXP/ItalicBtn.ico
IDI_UNDERLINEBTN        ICON    DISCARDABLE     ./RESXP/UnderlineBtn.ico
IDI_ALIGNLEFTBTN        ICON    DISCARDABLE     ./RESXP/AlignLeftBtn.ico
IDI_ALIGNCENTERBTN      ICON    DISCARDABLE     ./RESXP/AlignCenterBtn.ico
IDI_ALIGNRIGHTBTN       ICON    DISCARDABLE     ./RESXP/AlignRightBtn.ico
IDI_IDENTITYEDIT		ICON    DISCARDABLE     ./RESXP/IdentityEdit.ico
IDI_COLLAPSEHEADER		ICON    DISCARDABLE     ./RESXP/CollapseHeader.ico
IDI_SERVER_CREATEBTN    ICON    DISCARDABLE     ./RESXP/ServerCreateBtn.ico
IDI_SERVER_CHECKBTN     ICON    DISCARDABLE     ./RESXP/ServerCheckBtn.ico
IDI_SERVERSEARCHHIER    ICON    DISCARDABLE     ./RESXP/ServerSearchHier.ico
IDI_SERVERSEARCHHIERREF ICON    DISCARDABLE     ./RESXP/ServerSearchHierRef.ico
IDI_SERVERREMOTE        ICON    DISCARDABLE     ./RESXP/ServerRemote.ico
IDI_SERVERLOCAL         ICON    DISCARDABLE     ./RESXP/ServerLocal.ico
IDI_SERVERPOP3          ICON    DISCARDABLE     ./RESXP/ServerPOP3.ico
IDI_SERVERDISCONNECTED  ICON    DISCARDABLE     ./RESXP/ServerDisconnected.ico
IDI_SERVERFAVOURITE     ICON    DISCARDABLE     ./RESXP/ServerFavourite.ico
IDI_SERVERFLAT          ICON    DISCARDABLE     ./RESXP/ServerFlat.ico
IDI_SERVERHIERARCHIC    ICON    DISCARDABLE     ./RESXP/ServerHierarchic.ico
IDI_SERVER_VIEWBTN      ICON    DISCARDABLE     ./RESXP/ServerFavouriteBtn.ico
IDI_ACCOUNTMAILBOX      ICON    DISCARDABLE     ./RESXP/AccountMailbox.ico
IDI_ACCOUNTSMTP         ICON    DISCARDABLE     ./RESXP/AccountSMTP.ico
IDI_ACCOUNTREMOTE       ICON    DISCARDABLE     ./RESXP/AccountRemote.ico
IDI_ACCOUNTADBK         ICON    DISCARDABLE     ./RESXP/AccountAdbk.ico
IDI_ACCOUNTADDRSEARCH   ICON    DISCARDABLE     ./RESXP/AccountAddrSearch.ico
IDI_ACCOUNTSIEVE	    ICON    DISCARDABLE     ./RESXP/AccountSIEVE.ico
IDI_SEARCH_POINTER      ICON    DISCARDABLE     ./RESXP/SearchPointer.ico
IDI_SEARCH_HIT			ICON    DISCARDABLE     ./RESXP/SearchHit.ico
IDI_SEARCH_MISS		    ICON    DISCARDABLE     ./RESXP/SearchMiss.ico
IDI_USERPSWD_IMAP       ICON    DISCARDABLE     ./RESXP/MailboxDoc.ico
IDI_USERPSWD_POP3       ICON    DISCARDABLE     ./RESXP/UserPswdPOP3.ico
IDI_USERPSWD_SMTP       ICON    DISCARDABLE     ./RESXP/UserPswdSMTP.ico
IDI_USERPSWD_PREFS      ICON    DISCARDABLE     ./RESXP/PrefsDoc.ico
IDI_USERPSWD_ADBK       ICON    DISCARDABLE     ./RESXP/AddressBookDoc.ico
IDI_USERPSWD_LDAP       ICON    DISCARDABLE     ./RESXP/UserPswdLDAP.ico
IDI_USERPSWD_MANAGESIEVE	ICON    DISCARDABLE ./RESXP/UserPswdManageSIEVE.ico
IDI_USERPSWD_REMOTECALENDAR	ICON	DISCARDABLE	./RESXP/UserPswdRemoteCalendar.ico
IDI_CALENDAR_NEWEVENT		ICON	DISCARDABLE	./RESXP/CalendarNewEvent.ico
IDI_CALENDAR_NEWTODO		ICON	DISCARDABLE	./RESXP/CalendarNewToDo.ico
IDI_CALENDAR_DAY			ICON	DISCARDABLE	./RESXP/CalendarDay.ico
IDI_CALENDAR_WORK			ICON	DISCARDABLE	./RESXP/CalendarWorkWeek.ico
IDI_CALENDAR_WEEK			ICON	DISCARDABLE	./RESXP/CalendarWeek.ico
IDI_CALENDAR_MONTH			ICON	DISCARDABLE	./RESXP/CalendarMonth.ico
IDI_CALENDAR_YEAR			ICON	DISCARDABLE	./RESXP/CalendarYear.ico
IDI_CALENDAR_SUMMARY		ICON	DISCARDABLE	./RESXP/CalendarSummary.ico
IDI_CALENDAR_TASKS			ICON	DISCARDABLE	./RESXP/CalendarTasks.ico
IDI_CALENDAR_TODAY			ICON	DISCARDABLE	./RESXP/CalendarToday.ico
IDI_CALENDAR_GOTO			ICON	DISCARDABLE	./RESXP/CalendarGoto.ico
IDI_CALENDAR_NEWCALENDAR	ICON	DISCARDABLE	./RESXP/CalendarCreate.ico
IDI_CALENDARSTORE_TITLE_SUBSCRIBE	ICON	DISCARDABLE	./RESXP/SearchHit.ico
IDI_CALENDAR				ICON	DISCARDABLE	./RESXP/Calendar.ico
IDI_CALENDARUNCACHED		ICON	DISCARDABLE	./RESXP/CalendarUncached.ico
IDI_CALENDARWEBCAL			ICON	DISCARDABLE	./RESXP/CalendarWebcal.ico
IDI_TIMEDEVENT				ICON	DISCARDABLE	./RESXP/CalendarTimedEvent.ico
IDI_HASALARM				ICON	DISCARDABLE	./RESXP/CalendarHasAlarm.ico
IDI_ATTENDEE				ICON	DISCARDABLE	./RESXP/GroupFlag.ico
IDI_DECLINED				ICON	DISCARDABLE	./RESXP/Declined.ico
IDI_ATTENDEEISME			ICON	DISCARDABLE	./RESXP/AttendeeIsMe.ico
IDI_NEEDSACTION				ICON	DISCARDABLE	./RESXP/NeedsAction.ico
